<ng-container 
  *ngIf="launchDetails$ | async as launchDetails"
  class="launch-details"
  >
  <header>
    <button 
      mat-fab 
      aria-label="Go back"
      color="primary"
      [routerLink]="['/']"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <h1>{{ launchDetails.mission_name }}</h1>
  </header>
  <article>
    <mat-card>
      <img        
        mat-card-lg-image
        [src]="launchDetails.links?.mission_patch"
        alt="Mission patch of {{ launchDetails.mission_name }}"
      />
      <mat-card-content>
        <p>{{ launchDetails.details }}</p>
      </mat-card-content>
    </mat-card>
  </article>
  <section class="photo-grid">
      <ngx-gallery 
        [options]="galleryOptions" 
        [images]="galleryImages"
      >
      </ngx-gallery>
  </section>
</ng-container>
